<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be_Insure</title>
    <%- include('./partials/css/style.ejs') %>
    <%- include('./partials/css/loginstyle.ejs') %>
</head>
<body>
    <%- include('./partials/components/nav.ejs') %>
    <div class="signup">
    <form action="" method="post">
        <p class="form_head">Sing up</p>
        <p style="margin-right: 40%;">Insurance Makes Your Life Better.</p>
        <input type="text" name="" id="name" placeholder="input firstname" required>

        <input type="text" name="" id="name" placeholder="input name Lastname" required>

        <input type="email" name="" id="email" placeholder="input email" required>

         <p id="error" style="color:red; margin-right: 40%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"></p>

        <input type="tel" name="" id="tel" placeholder="input phone number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="must be a valid phone number" required>
       
        <input type="password" name="" id="retype" placeholder="input password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

        <p id="notMatch" style="color:red; margin-right: 50%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"></p>

        <input type="password" name="" id="password" placeholder="Retype password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
         <button>submit</button>
       <p class="link">already have an account? <a href="/api/login">Login</a></p>
       
    </form>
 </div>
</body>
</html>

 <script>
   const form = document.querySelector('form')
   form.addEventListener('submit', async (e)=> {

      e.preventDefault()
      const name = document.getElementById('name').value
      const email = document.getElementById('email').value
      const password = document.getElementById('password').value
      const retype = document.getElementById('retype').value
      const phone = document.getElementById('tel').value
     if (password != retype) {
      return document.getElementById('notMatch').innerHTML = 'password do not match'
     }
      try {
     const res = await fetch('/api/signup', {
      method: 'POST',
      body: JSON.stringify({email: email,password: password, first_name: name, phone_number: phone}),
      headers: { 'Content-Type': 'application/json'}
     })
     const data = await res.json()
     console.log(data);
    //  if (data.message) {
    //   return document.getElementById('error').innerHTML = data.message
    //  }
     console.log('e reach here');
     location.assign('/api/dashboard')
     
      }
      catch (err) {
    console.log(err);
      }
   })
 </script>