

<nav>
    <h1>Be_Insure</h1>
    <ul><a href="/">
        Home
    </a></ul>
    <ul><a href="#plans">Plans</a></ul>
    <ul><a href="#about">About us</a></ul>
    <div class="btn">
    <button><a href="/api/login">Login</a></button>
    <button style="border: 1px solid coral; background:transparent;"><a href="/api/signup" style="background-color: transparent; color: #000;">signup</a></button>
</div>
    <button id="logout"><a href="/api/logout">Logout</a></button>
</nav>